* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.Jumbotron {
  height: 400px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  background-image: url('./magnolia.jpg');
  background-size: cover;
  border: 1px solid blue;
}

.Jumbotron > h1 {
  color: #fff;
  padding-top: 100px;
  border: 1px solid black;
}

.Jumbotron p {
  color: #fff;
}