.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Carousel {
  margin-top: 64px;
}

.LoginPage {
  margin-top: 64px;
  border: 1px solid black;
  /* width: 300px; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  padding: 10px;
}

.LoginPage div {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.LoginPage button {
  width: 150px;
  margin: auto;
}

.BoardPage {
  margin-top: 64px;
  border: 1px solid red;

}

table {
  width: 96%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
}

.table-notice {
  background-color: #e56e00;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.table-title {
  text-align: left;
}

table {
  border-collapse: collapse;
}

th {
  border: 1px solid silver;
  border-top: 2px solid black;
}

td {
  border: 1px solid silver;
}


th,
td {
  border-left: hidden;
  border-right: hidden;
}